<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{beer.name}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{beer.tagline}}</h6>
        <div class="row">
            <div class="col-6">
                <img [src]="beer.image_url" class="img-responsive" width="100%" />
            </div>
            <div class="col-6">
                <div class="card-text">{{beer.first_brewed}}</div>
                <table class="table">
                    <tbody>
                        <tr>
                            <th scope="row">Abv</th>
                            <td>{{beer.abv}}</td>
                        </tr>
                        <tr>
                            <th scope="row">IBU</th>
                            <td>{{beer.ibu}}</td>
                        </tr>
                        <tr>
                            <th scope="row">EBC</th>
                            <td>{{beer.ebc}}</td>
                        </tr>
                        <tr>
                            <th scope="row">pH</th>
                            <td>{{beer.ph}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Volume</th>
                            <td>{{beer.volume.value}} {{beer.volume.unit}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="card-body">
                <p class="card-text">
                    <span class="font-weight-bold">Ingredients:</span> {{beer.ingredients}}
                </p>

                <p class="card-text">
                    {{beer.description}}
                </p>
                <div class="card-text">
                    Food Parings:
                    <ul>
                        <li *ngFor="let food of beer.food_pairing">
                            {{food}}
                        </li>
                    </ul>
                    <div>
                        Contrubuted by: {{beer.contributed_by}}
                    </div>
                </div>>
            </div>
        </div>
    </div>
</div>