<header class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row">
    <h3>
      {{title}}
    </h3>
    <div class="navbar-nav-scroll">
      <form>
        <div class="form-row">
          <div class="col-2 abv-form">
            <div class="row">
              <div class="col-3">
                <label>
                  ABV:
                </label>
              </div>
              <div class="col-5">
                <select class="form-control" name="lessOrGreaterABV" id="less-or-greater-abv" [ngModel]="abvLessOrGreater"
                  (ngModelChange)="filterBeers()">
                  <option value="lessThan">&lt;</option>
                  <option value="greaterThan">&gt;</option>
                </select>
              </div>
              <div class="col-4">
                <input type="number" class="form-control" placeholder="#" [ngModel]="abv"
                  (ngModelChange)="filterBeers()" />
              </div>
            </div>
          </div>
          <div class="col-2 ibu-form">
            <div class="row">
              <div class="col-2">
                <label>
                  IBU:
                </label>
              </div>
              <div class="col-5">
                <select class="form-control" name="lessOrGreaterIBU" id="less-or-greater-ibu" [ngModel]="ibuLessOrGreater" (ngModelChange)="filterBeers()">
                  <option value="lessThan">&lt;</option>
                  <option value="greaterThan">&gt;</option>
                </select>
              </div>
              <div class="col-5">
                <input type="number" class="form-control" placeholder="#" [ngModel]="ibu" (ngModelChange)="filterBeers()" />
              </div>
            </div>
          </div>
          <div class="col-2 ebc-form">
            <div class="row">
              <div class="col-3">
                <label>
                  EBC:
                </label>
              </div>
              <div class="col-5">
                <select class="form-control" name="lessOrGreaterEBC" id="less-or-greater-ebc" [ngModel]="ebcLessOrGreater" (ngModelChange)="filterBeers()">
                  <option value="lessThan">&lt;</option>
                  <option value="greaterThan">&gt;</option>
                </select>
              </div>
              <div class="col-4">
                <input type="number" class="form-control" placeholder="#" [ngModel]="ebc" (ngModelChange)="filterBeers()" />
              </div>
            </div>
          </div>
          <div class="col-3 brewed-before">
            <label>
              Brewed Before:
            </label>
            <input class="form-control" type="date" id="brewed-before" name="brewed-before" [ngModel]="brewed_before" (ngModelChange)="filterBeers()" />
          </div>
          <div class="col-3 brewed-after">
            <label>
              Brewed After:
            </label>
            <input class="form-control" type="date" id="brewed-after" name="brewed-after" [ngModel]="brewed_after" (ngModelChange)="filterBeers()" />
          </div>
        </div>
        <div class="form-row">
          <div class="col-3 yeast-type">
            <label>
              Yeast Type:
            </label>
            <input type="number" class="form-control" placeholder="Enter Yeast Type" [ngModel]="yeast"
              (ngModelChange)="filterBeers()" />
          </div>
          <div class="col-3 hops-type">
            <label>
              Hops Type:
            </label>
            <input type="text" class="form-control" placeholder="Enter Hops Type" [ngModel]="hops"
              (ngModelChange)="filterBeers()">
          </div>
          <div class="col-3 malt-type">
            <label>
              Malt Type:
            </label>
            <input type="text" class="form-control" placeholder="Enter Malt Type" [ngModel]="malt"
              (ngModelChange)="filterBeers()">
          </div>
          <div class="col-3 malt-type">
            <label>
              Food Paring:
            </label>
            <input type="text" class="form-control" placeholder="Enter Food to Pair With" [ngModel]="food"
              (ngModelChange)="filterBeers()">
          </div>
        </div>
      </form>
    </div>
  
    <button type="button" aria-controls="navbarContent" aria-expanded="false" aria-label="toggle filter bars"
      class="navbar-toggler navbar-toggler-right">
      <span class="navbar-toggler-icon">
      </span>
    </button>
  </header>