<header class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row">
  <div class="row">
    <div class="col-lg-12 col-sm-8">
      <h3>
        {{title}}
      </h3>
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn btn-outline-primary" (click)="isCollapsed = !isCollapsed"
        [attr.aria-expanded]="!isCollapsed" aria-controls="collapseExample">
        <div class="hamburger-menu-line"></div>
        <div class="hamburger-menu-line"></div>
        <div class="hamburger-menu-line"></div>
      </button>
    </div>
  </div>


  <div class="navbar-nav-scroll">
    <form>
      <div class="form-row">
        <div class="col-lg-2 col-sm-12 abv-form">
          <div class="row">
            <div class="col-3">
              <label>
                ABV:
              </label>
            </div>
            <div class="col-5">
              <select class="form-control" name="lessOrGreaterABV" id="less-or-greater-abv"
                [(ngModel)]="abvLessOrGreater" name="abvLessOrGreater" (ngModelChange)="filterBeers()">
                <option value="lessThan">&lt;</option>
                <option value="greaterThan">&gt;</option>
              </select>
            </div>
            <div class="col-4">
              <input type="number" class="form-control" placeholder="#" [(ngModel)]="abv"
                (ngModelChange)="filterBeers()" name="abv" />
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-sm-12 ibu-form">
          <div class="row">
            <div class="col-3">
              <label>
                IBU:
              </label>
            </div>
            <div class="col-5">
              <select class="form-control" name="lessOrGreaterIBU" id="less-or-greater-ibu"
                [(ngModel)]="ibuLessOrGreater" name="ibuLessOrGreater" (ngModelChange)="filterBeers()">
                <option value="lessThan">&lt;</option>
                <option value="greaterThan">&gt;</option>
              </select>
            </div>
            <div class="col-4">
              <input type="number" class="form-control" placeholder="#" [(ngModel)]="ibu" name="ibu"
                (ngModelChange)="filterBeers()" />
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-sm-12 ebc-form">
          <div class="row">
            <div class="col-3">
              <label>
                EBC:
              </label>
            </div>
            <div class="col-5">
              <select class="form-control" name="lessOrGreaterEBC" id="less-or-greater-ebc"
                [(ngModel)]="ebcLessOrGreater" name="ebcLessOrGreater" (ngModelChange)="filterBeers()">
                <option value="lessThan">&lt;</option>
                <option value="greaterThan">&gt;</option>
              </select>
            </div>
            <div class="col-4">
              <input type="number" class="form-control" placeholder="#" [(ngModel)]="ebc" name="ebc"
                (ngModelChange)="filterBeers()" />
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-12 brewed-before">
          <label>
            Brewed Before:
          </label>
          <input class="form-control" type="date" id="brewed-before" name="brewed-before" [(ngModel)]="brewed_before"
            (ngModelChange)="filterBeers()" />
        </div>
        <div class="col-lg-3 col-sm-12 brewed-after">
          <label>
            Brewed After:
          </label>
          <input class="form-control" type="date" id="brewed-after" name="brewed-after" [(ngModel)]="brewed_after"
            (ngModelChange)="filterBeers()" />
        </div>
      </div>
      <div class="form-row">
        <div class="col-lg-3 col-sm-12 yeast-type">
          <label>
            Yeast Type:
          </label>
          <input type="number" class="form-control" placeholder="Enter Yeast Type" [(ngModel)]="yeast" name="yeast"
            (ngModelChange)="filterBeers()" />
        </div>
        <div class="col-lg-3 col-sm-12 hops-type">
          <label>
            Hops Type:
          </label>
          <input type="text" class="form-control" placeholder="Enter Hops Type" [(ngModel)]="hops" name="hops"
            (ngModelChange)="filterBeers()">
        </div>
        <div class="col-lg-3 col-sm-12 malt-type">
          <label>
            Malt Type:
          </label>
          <input type="text" class="form-control" placeholder="Enter Malt Type" [(ngModel)]="malt" name="malt"
            (ngModelChange)="filterBeers()">
        </div>
        <div class="col-lg-3 col-sm-12 malt-type">
          <label>
            Food Paring:
          </label>
          <input type="text" class="form-control" placeholder="Enter Food to Pair With" [(ngModel)]="food" name="food"
            (ngModelChange)="filterBeers()">
        </div>
      </div>
    </form>
  </div>

</header>